.title__bio{
    font-size: 52px;
    text-align: left;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .title__bio{
        font-size: 28px ;
    }
}


@media (max-width: 425px) {
    .title__bio{
        font-size: 20px;
    }

}