.title__subsection{

    font-weight: normal;
    text-align: left;
    justify-content: space-between;
}

@media (min-width: 768px) {

}


@media (min-width: 360px) {
    .title__subsection{
        font-size: 13px;
    }

}