.title-div{
    display: flex;
    flex-direction: row-reverse;
    width: 1136px;
    height: 368px;
}

@media (max-width: 768px) {
    .title-div{
        width: 768px;
        height: 210px;
      
    }

}


@media (max-width: 425px) {
    
    .title-div{
        display: block;
        width: 360px;
        height: 294px;
    }
}