.title__subsection{

    font-weight: normal;
    text-align: left;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .title__subsection{
        font-size: 19px;
    }

}


@media (max-width: 425px) {
    .title__subsection{
        font-size: 13px;
    }

}