.title__network{
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    
}
.title__network__item{
    align-items: left;
    margin: 1%;
    padding: 1%;
}

@media (max-width: 768px) {
    .title__network__item{
        padding: 0;
        justify-content: space-between;
        margin: 0px 80px 0px 0px;
    }
}


@media (max-width: 425px) {
    .title__network__item{
        margin: 0px;
        padding: 0px;
    }
}