.title__container{
   
    width: 751px;
    height: 246px;
    gap: 24px;



}

@media (min-width: 768px) {

}


@media (max-width: 425px) {
    .title__container{
        width: 328px;
        height: 148px;
    }
    
}