.academic__courses{
    display: flex;
    width: 1136px;
    height: 347px;
    justify-content: space-between;

}

@media (min-width: 768px) {

}


@media (min-width: 360px) {
   .academic__courses{
    display: block;
   }
}