.academic__courses{
    display: flex;
    width: 1136px;
    height: 347px;
    justify-content: space-between;

}

@media (max-width: 768px) {
    .academic__courses{
        width: 768px;
        height: 291px;
        margin: 0px;
    }
}


@media (max-width: 425px) {
   .academic__courses{
    display: block;
   }
}