.academic__courses__box{

    background-color: white;
     width: 368px;
     height: 280px;
     justify-content: center;
 }

 @media (max-width: 768px) {
    .academic__courses__box{
        width: 224px;
        height: 118px;
        justify-content: center;
        margin: 15px 15px 25px 15px;
    }
 }
 
 
 @media (max-width: 425px) {
    .academic__courses__box{
        width: 296px;
        height: 118px;
        justify-content: center;
        margin: 30px 30px 50px 30px;
    }
 }