.academic{
    width:1420px;
    height: 581px;
    background-color: var(--cor-de-franja);
}

@media (max-width: 768px) {
    .academic{
        width: 768px;
        height: 291px;
    }
}


@media (max-width: 425px) {
   .academic{

    width: 360px;
    height: 661px;
   }
}