.hobbies__title{
    text-align: center;
    width: 1136px;
    height: 86px;

}

@media (max-width: 768px) {
    .hobbies__title{
        width: 800px;
        height: 26px;
        text-align: center;
}


@media (max-width: 425px) {
    .hobbies__title{
        width: 380px;
        height: 26px;
        text-align: center;
    }
    }