.hobbies__line{
    display: flex;
    align-items: left;
    

}

@media (min-width: 768px) {

}


@media (min-width: 360px) {
   .hobbies__line{
        display: flex;
        flex-direction: column;
        height: 550px;
        flex-wrap: wrap;
    }
}