.experience{
    width: 1136px;
    height: 1886px;

}

@media (max-width: 768px) {
    .experience{
        width: 768px;
        height: 2017px;
    }
}


@media (max-width: 424px) {
    .experience{
        width: 360px;
        height: 1321px;
    }
        
    
}