.experience__info{
    width: 368px;
    height: 112px;
    margin: 0, 0, 0, 50px;
}

@media (max-width: 768px) {
    .experience__text{
        margin-left: 35px ;
    }
    .experience__title{
        margin-left: 35px;
    }
}


@media (max-width: 425px) {
    .experience__title{
        font-size: 20px;
        margin-left: 35px;
    }
    .experience__text{
        font-size: 15px;
        margin-left: 35px;
    }
        
    
}