.footer{
    text-align: center;
   
}

@media (min-width: 768px) {

}


@media (max-width: 425px ) {
    .footer{
        width: 360px;
        height: 102px
    }
        
    

    .footer__rodape{
        margin-right: -10px ;
    }
        
    
}