.skills{
    display: flex;
    flex-direction: column;
    width: 1136px;
    height: 244px;
    
}

@media (max-width: 768px) {
    .skills{
        width:768px;
        height: 390px;
    }
}


@media (max-width: 425px) {
    .skills{
        width: 360px;
        height: 508px;
        
    }
}