.skills__img{
    
    margin-top: 100px;
    margin-left: 10px;
    text-align: left;

}

@media (max-width: 768px) {
    .skills__img{
        margin-top: 55px ;
        margin-left: 0px;
        text-align: left;
    }
}


@media (max-width: 425px) {
    .skills__img{
        width: 40px;
        height: 37px;
        margin-top: 55px;
        margin-left: 0px;
        text-align: left;
    }
}