.skills{
    display: flex;
    flex-direction: column;
    width: 1136px;
    height: 244px;
    
}

@media (min-width: 768px) {

}


@media (min-width: 360px) {
    .skills{
        width: 360px;
        height: 508px;
        
    }
}