.skills__box{
    /*display: flex;
    background-color: wheat;
    margin: 1%;
    width: 174px;
    height: 176px;
    justify-content: space-around;*/
    padding: 1px;
    width: 174px;
    height: 174px;
    justify-content: left;
    align-items: left;
    margin: 0;
    margin-right: 10px;
    background-color: var(--cor-de-cubos);

}

@media (max-width: 768px) {
    .skills__box{
        margin: 10px;
        width: 224px;
        height: 118px;
        padding: 0px;
        justify-content: space-between;
    }

}


@media (max-width: 425px) {
   .skills__box{

    margin: 10px;
    width: 156px;
    height: 118px;
    padding: 0px;
    justify-content: space-between;
   }

   }