.skills__title{
    text-align: center;
    width: 1136px;
    height: 86px;
    vertical-align: text-bottom; 

}

@media (min-width: 768px) {

}


@media (min-width: 360px) {
    .skills__title{
        width: 380px;
        height: 26px;
        text-align: center;
    }
    }