.skills__line{
    display: flex;
    align-items: left;
    

}

@media (max-width: 768px) {
    .skills__line{
        display: flex;
        flex-direction: column;
        height: 400px;
        flex-wrap: wrap;
    }
}


@media (max-width: 425px) {
    .skills__line{
        display: flex;
        flex-direction: column;
        height: 550px;
        flex-wrap: wrap;
    }
}