.skills__name{
    margin: 0;    
    width: 141px;
    height: 19px;

}

@media (min-width: 768px) {

    

}


@media (min-width: 360px) {
    .skills__name{
    width: 124px;
    height: 19px;
    }
}