.formcontato{
    width: 1440px;
    height: 690px;
    background-color: var(--cor-de-franja);

}

@media (max-width: 768px) {
    .formcontato{
        width: 768px;
        height: 709px;
        margin-top: 80px;
    }
}


@media (max-width: 425px) {
    .formcontato{
        width: 360px;
        height: 637px;
        
    }
        
    
}