.formcontato__contacto{
    width: 1136px;
    height: 660px;
    display: flex;
}

@media (max-width: 768px) {
    .formcontato__contacto{
        width: 768px;
        height: 637px;
        margin-left: 15px;
    }
}


@media (max-width: 425px) {
    .formcontato__contacto{
        width: 360px;
        height: 777px;
        
    }
        
    
}