.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 0 32px 0;
    justify-content: left;
}

@media (max-width: 768px) {
    .menu{
        justify-content: space-between;
    }
}

@media (max-width: 425px) {
    .menu__title{
        width: 134px;
        height: 24px;
    }
}