.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 0 32px 0;
    justify-content: left;
}

@media (min-width: 768px) {

}

@media (max-width: 360px) {
    .menu__title{
        width: 134px;
        height: 24px;
    }
}